.number-button {
  background-color: rgb(4, 116, 5);
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 12px;
  padding-left: 12px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  transition: padding 0.15s, margin 0.15s;
}

.number-button:hover {
  padding-right: 16px;
  padding-left: 16px;
  margin-right: 0px;
  margin-left: 0px;
}
